@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask-image {
    -webkit-mask-image: url('./assets/paint-stroke.png');
    -webkit-mask-size: 150%;
    /* Increase the mask size */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url('./assets/paint-stroke.png');
    mask-size: 150%;
    /* Increase the mask size */
    mask-repeat: no-repeat;
    mask-position: center;
  }
}



html,
body,
#root,
.app {
  height: 100%;
  @apply transition-colors duration-300;

}

.dark-mode {
  @apply bg-[#010026] text-white;
}

.light-mode {
  @apply bg-[#F5E6D3] text-gray-800;
}